#external {
	color: #fffc5e;
}

*{
	font-family: "Bari Sans";
	font-size: 20px;
}

h1 {
	 font-size: 2rem;
}

#uppercase {
	text-transform: uppercase;
}	

.html {
	background-color: #aed0a1;
}
.css{
	background-color: #aed0a1;
}
.js {
	background-color: #aed0a1;
}



[value] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

#image img{
	height: 100px;
	width: 100px;
	border-radius: 50px;
}

html {
	scroll-behavior: smooth;
}

div ~ p{
	text-align: center;
}


body> section> #other-things-to-be-learned-list{
	letter-spacing: 8px;
	list-style-type: none;
}